/*////////////// Fonts //////////////*/
@font-face {
		font-family: 'Libre Baskerville', serif;
		src: url(/fonts/Baskerville.ttc);
}
/* link the web font used for the level 1 heading here */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Playfair+Display")
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	padding-bottom:
	margin:
	font-size:
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom:
}

#logo {

}

h2 {
	color:
	font-size:
}

p {
	color:
	font-size:
	margin:
}

#about a {
	color: blue;
	text-decoration: none;
}

#about a:hover {
	text-decoration: underline;
}

#about a:visited {
	color: purple;
	text-decoration: none;
}

#press {

}

#footer {
	text-align: 0 auto;
	font-size: 0.9em;
}
